[Unit]
Description=constream daemon
Requires=constream.socket
After=network.target

[Service]
User=marty331
Group=videoplayer
WorkingDirectory=/dev/constream
ExecStart=/usr/bin/python3 dev/constream/ffmpeg_runner.py

[Install]
WantedBy=multi-user.target