[Unit]
Description=constream daemon
After=network.target

[Service]
WorkingDirectory=/apps/constream
ExecStart=/usr/bin/python3 /apps/constream/ffmpeg_runner.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
